@font-face {
  font-family: h1;
  src: url(../Fonts/Futura-Bold.ttf);
}
@font-face {
  font-family: text;
  src: url(../Fonts/matter-regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 25vw;
  height: 30vw;
  background-color: #ffffff;
  border-radius: 10px;
  /* border: 2px solid black; */
  padding: 2vw;
  text-align: center;
}
.box img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.box h1 {
  font-family: h1;
}
.box h5 {
  font-family: text;
  font-weight: 400;
  font-size: 2vw;
  margin-top: 10px;
  text-transform: capitalize;
}
.box button {
  font-family: text;
  margin-top: 20px;
  padding: 0.8vw 1.5vw;
  font-size: 1.2vw;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: goldenrod;
}
.box button:hover {
  background-color: salmon;
}
